*{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    user-select: none;
}
.carousel{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 10px;
    left: 10px;
    border: solid 2px black;
}
.imgbox img{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.dot{
    position: absolute;
    height: 30px;
    width: 480px;
    top: 540px;
    left: 60px;
    padding: 25px;
    padding-top: 15px;
}
.dot li{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    height: 7px;
    width: 30px;
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.btnr,.btnl{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.3);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 600px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    display: none;
}
.btnl{
    left: 0;
}