*{
    margin: 0;
    padding: 0;
    list-style: none;
    /* overflow: hidden; */
    user-select: none;
}
.carousel1,.carousel2,.carousel3,.carousel4{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 200px;
    left: 65px;
    overflow: hidden;
    /* border: solid 2px black; */
}
.imgbox1 img,.imgbox2 img,.imgbox3 img,.imgbox4 img{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.dot1,.dot2,.dot3,.dot4{
    position: absolute;
    height: 30px;
    width: 480px;
    top: 540px;
    left: 60px;
    padding: 25px;
    padding-top: 15px;
    list-style: none;
}
.dot1 li,.dot2 li,.dot3 li,.dot4 li{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    height: 7px;
    width: 30px;
    padding: 5px;
    background-color: rgb(243, 235, 229);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.btnr1,.btnl1,.btnr2,.btnl2,.btnr3,.btnl3,.btnr4,.btnl4{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 600px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    display: none;
}
.btnl1,.btnl2,.btnl3,.btnl4{
    left: 0;
}